 Mobile Tools for Java (J2ME)# Compiled class file
                              #*.class
                              #
                              #Logs
                              ## Log file
                              #*.log
                              #
                              ## BlueJ files
                              #*.ctxt
                              #
                              ##
.mtj.tmp/

# Pac
*.jar
*.zipearwarkage Files #
        *.
*.nar
     *.
*.rargz

*.tar.
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.classpath
.project
.settings/

# java folders
target/
test-output/
*.iml

# nexus
deploycmd.txt

# Intellij
.idea/
.classpath/
.project/
.settings

#
pom.nexus.xml
*.DS_Store

# Allure
allure-results

#ExtentReports
ExtentReports

#ScreenShots
ScreenShots

#Jsonfile
Config.Json
